@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Establishing an overall font family for the whole website */

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Navbar style */

.navbar {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #E19728;
    margin-bottom: 30px;
}


.navbar-brand {
    font-size: 40px;
    margin-left: 30px;
    text-decoration: none;
    color:white;
    font-weight: 700;
}

/* Navbar links style */

.nav-links .links {
    display: flex;
    align-items: center;

}

.nav-links ul li {
    padding: 0px 30px;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links ul li:hover {
    background-color: rgba(128,128,128,0.4)
}

.nav-links ul li a{
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.nav-links ul li img {
    max-width: 30px;
}

/* End navbar style */

/* Main style */

.main-section {
    width: 85%;
    margin: auto;
}

/* Advertising banner style */

.special-offers {
    display: flex;
}

.special-offers div {
    height: 150px;
    width: 50%;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-offers .begin-vape h6 {
    color: #E19728;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.special-offers .begin-vape {
    background-image: url(../img/eliquid-3576069_960_720.webp); 
}

.special-offers .current-offer {
    background-image: url(../img/christmas-5815034_960_720.webp);
}

.special-offers .current-offer h6 {
    color: #E19728;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

/* End advertsising banner style */

/* Purchase section style */

main .purchase {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

/* Filters style */

main .purchase .filters {
    width: 15%; 
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-right: 5%;
    margin-top: 30px;
}

main .purchase .filters ul {
    font-size: 10px;
    line-height: 20px;
    align-items: center;
    padding: 0;
}

main .purchase .filters ul li {
    list-style: none;
    display: flex;
    justify-content: left;
}

main .purchase .filters ul li img {
    height: 10px;
    margin-right: 1vw;
}

/* Items style */

main .purchase .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
}

/* Sort by */

.sort-by {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    line-height: 15px;
}

.sort-by img {
    width: 15px;
    margin-left: 5px;
}

/* Cards style */

main .purchase .items .item {
    width: 200px;
    border: 2px solid rgba(126, 126, 126, 0.253);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 20px;
}

main .purchase .items .item .item-name {
    color: #E19728;
    font-weight: 700;
    margin: 3px;
    font-size: 12px;
    width: 100%;
}

main .purchase .items .item .price {
    font-weight: 700;
    margin: 3px;
    font-size: 10px;
}

main .purchase .items .item .desc {
    font-weight: 500;
    margin: 3px;
    font-size: 8px;
}

main .purchase .items .item .pic {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

/* Item cards - manage cart section style */

.manage-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.plus-minus {
    display: flex;
    align-items: center;
}

.button {
    background-color: #E19728;
    color: white;
    padding: 1px 1px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    margin: 2px;
    height: 15px;
    width: 15px;
    text-decoration: none;
}

.add-to-cart {
    margin: 2px;
    width: 60%;
}

.cart-add {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: #E19728;
    text-decoration: none;
    padding: 1px 2px;
    
}

.cart-add img {
    width: 12px;
    filter: invert(100%) sepia(97%) saturate(16%) hue-rotate(212deg) brightness(105%) contrast(100%);
}



/* main .purchase .items .item .desc {
    text-overflow: ellipsis;
} */

@media (max-width:576px) {

}